
.logoff_container > .btn-container {
    width: 10%;
    margin-left: 45%;
  }
  .logoff_container > p {
    color: darkslategrey;
    text-align: center;
    font-size: 1.5em;
  }
  .logoff_container{
    height: auto;
    width: full;
    align-items:center;
    margin-top: 5%;
  }
    .planner-link {
        color: darkgreen;
        text-decoration-line: underline;
 }

 div {
  font-family: sans-serif;
 }
 img#logout {
  width: 30%;
  display: block;
  margin-left: 35%;
  margin-right: 35%;
 }

 a:hover {
  color: black;
 }