/*style.css for register*/
/*
Style.css for register functionality
*/
.container {
  height: 600px;
  width: auto;
  font-family: sans-serif;
}
#register_container {
  width: auto;
  padding: 40px;
  margin-bottom: 20px;
  text-align: left;
  }
  
  #form_input {
      width: 100%;
  }
  .p-password {
      width: 100%;
  }
  .p-password > .p-inputtext { 
      width: 100%;
  }
  
    #sign_in {
      font-family: 'Lobster';
      font-weight: 500;
      font-size: 30px;
      color: black;
    }
  
    #welcome {
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: xxx-large;
      color: #000000;
    }
   
  #label_text{
    font-family: sans-serif;
    color: darkslategrey;
    /* margin: 1px; */
  }
  
  .button_submit {
      padding: 15px;
      padding-left: 0px;
  }
  
  .register_back {
    display: block;
    float: right;
    opacity: 0.8;
    width: 50%;
    padding-left: 5%;
    padding-bottom: -20%;
    
  }
  div.login_item{
    margin-top: 5%;
  }
  
  img#login-image {
    width: 90%;
    margin-left: 8%;
    margin-top: 5%;
  }
  
  .li_image_container {
    height: 6em;
    
    margin: 2.5% 3% 0 3%;
    background: greysmoke;
    align-items: left;
   
  }
  
  .li_image_container > img {
    width: 5%;
    float: left;
  }
  div.register_item{
    margin-top: 5%;
  }
  
  img#register-image {
    width: 90%;
    margin-left: 4%;
    margin-top: 5%;
  }
  .main_card {
    float: left;
    height: max-content;
    justify-content: space-between;
    width: 50%;
  }
  a.l_btn {
    text-decoration: underline;
    font-size: 14px;
  }
  a.l_btn:hover {
    text-decoration: underline;
    font-size: 14px;
    color: black;
  }
  span {
    font-size: 14px;
  }