/*style.css for register*/
/*
Style.css for register functionality
*/

#register_container {
    width: 539px;
    padding: 20px;
    text-align: left;
    left: 50px;
    }
  
  #form_input {
      width: 100%;
  }
  .p-password {
      width: 100%;
  }
  .p-password > .p-inputtext { 
      width: 100%;
  }
  
    #sign_in {
      font-family: 'Lobster';
      font-weight: 500;
      font-size: 30px;
      color: black;
    }
  
    #welcome {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: xxx-large;
      color: #000000;
    }
   
  #label_text{
    font-family: 'Lobster';
    color: darkslategrey;
    /* margin: 1px; */
  }
  
  .button_submit {
      padding: 15px;
      padding-left: 0px;
  }
  
  
  