.hexa-container:nth-of-type(odd) {
    margin-top: 200px;
}


.hexa-card {
    width: 150px;
    /* margin: 3px; */
    height: fit-content;
    
    padding: 20px 0px;
    text-align: center;
    align-items: center;
    border: none;
    background: white;
}
.inner-content {
    width: auto;
    height: 110px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.top-card{
    float: left;
    border-right: 30px solid var(--c);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.mid-card {
    float: left;
    height: 104px;
    background-color: var(--c);
}

.bottom-card {
    float: left;
    border-left: 30px solid var(--c);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hexa-img {
    height: 4em;
    width: auto;
    position: relative;
    margin-top: 20px;
}

#card-label {
    margin-top: 10%;
    justify-content: center;
    font-size: small;
    border-color: #6366F1;
    background: white;
    color: #6366F1;
    text-align: center;
    align-items: center;
    
}

#card-label:hover{
    
    text-decoration: underline;
}

.badge-step{
    margin-top: 5px;
   
}

.data_link {
    /* display: inline-flex; */
    font-size: smaller;
    color: #6366F1;
}
.p-badge {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;

    display: block;

}
li {
    list-style-type: disc;
    margin-bottom: 1%;
}