/*
HOME - interactive map CSS file
*/
Parallax {
    width: 100%;
}
.HomeContainer {
    width: 100%;
    height: 600px;
    font-family: 'Work Sans', sans-serif;
}

.MainContentCard {
    margin-top: 5em;
    padding: 30px;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    /* background-image: url('../../images/Backimg.drawio.png');
    background-repeat: no-repeat; */
    font-family: 'Work Sans', sans-serif;
}

.line-img {
    position: absolute;
    margin-left: 2px;
    margin-top: 78px;
    z-index: -100;
}
.go-btn { 
    margin-left: 12px;
}

#type-btn:focus {
    background: #6366F1;
    color: white;
}

.home-entry {
    height: 600px;
    margin: 0px 15px;
}

.home-entry>.react-parallax >.react-parallax-content {
    height: 50em;
} 

.supply-select>.react-parallax >.react-parallax-content {
    height: 20em;
    margin-top: 4em;
}

.supply-label {
    color: gray;
    transform: translate(-50%, -50%);
    font-size: 4em;
    left: 50%;
    position: absolute;
    top: 20%;
    padding: 0px 30px;
  }

.entry-label {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    margin-top: 3em;
    color: white;
    -webkit-text-stroke: 1.25px grey;
    font-weight: 700;
    letter-spacing: -1px;
   
    text-align: center;
}

.entry-label-2 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    margin-top: 3em;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    display: block;
    text-align: center;
}

.button-align {
    margin-top: -15%;
    display: block;
    text-align: center;
 
    font-family: 'Work Sans', sans-serif;
    
}
span {
    font-family: 'Work Sans', sans-serif;
}

.p-component {
    font-family: 'Work Sans', sans-serif;
}

.data_container {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family:'Poppins', sans-serif;
}
.p-tabview-nav {
    font-family:'Poppins', sans-serif;
}
.p-dialog-title {
    font-family:'Poppins', sans-serif;
}