/*
HOME - interactive map CSS file
*/

.HomeContainer {
    width: 100%;
    height: 600px;
}

.MainContentCard {
    margin-top: 5em;
    padding: 30px;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
}
.go-btn { 
    margin-left: 12px;
}

#type-btn:focus {
    background: #6366F1;
    color: white;
}
