/*
Style.css for login functionality
*/
body {
  font-family: Sans-Serif;
}
p {
  font-family: Sans-Serif;
}
h1 {
  
  font-family: Sans-Serif;
}
.container {
  height: 600px;
  width: auto;
  font-family: Sans-Serif;
}
#login_container {
  width: 539px;
  padding: 20px;
  text-align: left;

  /* left: 50px; */
  }

#form_input {
    width: 100%;
}
.p-password {
    width: 100%;
}
.p-password > .p-inputtext { 
    width: 100%;
}

  #sign_in {
    font-family: Sans-Serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
  }


  #welcome {
    font-family: Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: xxx-large;
    color: #000000;
    margin: 2px;
  }

#label_text{
  font-family: Sans-Serif;
  color: darkslategrey;
  /* margin: 1px; */
}

.button_submit {
    padding: 15px;
    padding-left: 0px;
}

.button_submit > button {
  background: #86BC24;
  border-color: #86BC24;
}

.li_image_container {
  height: 6em;
  margin: 2%;
  background: greysmoke;
 
}

.li_image_container > img {
  float: left;
  width: 5%;
}

.main_card {
  display: flex;
  width: auto;
  height: max-content;
  justify-content: space-between;
}

.login_back {
  position: relative;
  opacity: 0.8;
  height: 42em;
  width: 42em;
}
