/*
Style.css for login functionality
*/
body {
  font-family: Sans-Serif;
}
p {
  font-family: Sans-Serif;
}
h1 {
  
  font-family: Sans-Serif;
}
.container {
  height: 600px;
  width: auto;
  font-family: Sans-Serif;
}
#login_container {
  width: auto;
  padding: 40px;
  margin-bottom: 20px;
  text-align: left;

  /* left: 50px; */
  }

#form_input {
    width: 100%;
}
.p-password {
    width: 100%;
}
.p-password > .p-inputtext { 
    width: 100%;
}

  #sign_in {
    font-family: Sans-Serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    margin-bottom: 4%;
  }


  #welcome {
    font-family: Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: xxx-large;
    color: #000000;
    margin: 2 2 2 0;
  }

#label_text{
  font-family: Sans-Serif;
  color: darkslategrey;
 
}

.button_submit {
    padding: 15px;
    padding-left: 0px;
}

.button_submit > button {
  background: #86BC24;
  border-color: #86BC24;
  margin-top: 2%;
}


.li_image_container {
  height: 6em;
  margin: 2%;
  background: greysmoke;
 
}

.li_image_container > img {
  width: 5%;
}


.main_card {
  float: left;
  height: max-content;
  justify-content: space-between;
  width: 50%;
}

.login_back {
  display: block;
  float: right;
  opacity: 0.8;
  width: 50%;
  padding-left: 5%;
  padding-bottom: -20%;
  
}
div.login_item{
  margin-top: 5%;
}